Source: dnssec-publish-ds
Section: net
Priority: optional
Maintainer: planchon <planchon@syshawk.com>
Build-Depends: debhelper-compat (= 13),
 dh-golang,
 golang-any (>= 2:1.24~),
 golang-github-miekg-dns-dev,
 golang-github-ovh-go-ovh-dev,
 golang-github-spf13-cobra-dev,
 golang-github-spf13-viper-dev
Standards-Version: 4.6.2
Homepage: https://gitlab.syshawk.com/planchon/dnssec-publish-ds
XS-Go-Import-Path: gitlab.syshawk.com/planchon/dnssec-publish-ds

Package: dnssec-publish-ds
Architecture: any
Depends: ${misc:Depends}, adduser, init-system-helpers (>= 1.54~)
Static-Built-Using: ${misc:Static-Built-Using}
Suggests: bash-completion
Description: DNSSEC DS record publisher daemon
 Monitors CDS/CDNSKEY records for configured DNS zones and automatically
 updates DS records at the registrar via provider plugins.
 .
 Currently supports OVH API v1 as a provider.
